@model CapaLogica_HelpDesk.Soporte
@{
    ViewBag.Title = "ModificarSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/simple-sidebar.css" rel="stylesheet" />
@using (Html.BeginForm("ModificarSolicitud", "Soporte", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.Hidden("IdSoporte",Model.IdSoporte)
    <div class="container-fluid" style="margin-left: 20%;">
 
        <div class="col-md-8"></div>
        <h2>Detale de la Solicitud</h2>
        <div class="row">
            <form role="form">
                <div class="col-lg-6">
                    <div class="well well-sm"><strong>Campos Requeridos<span class="glyphicon glyphicon-asterisk" style="color: red;"></span></strong></div>
                    <table class="table borderless">
                        <tr>
                            <div class="form-group">
                                <label>Descripción Problema</label>
                                <div class="input-group">
                                    <textarea id="DescripcionProblema" name="DescripcionProblema" class="form-control" placeholder="Descripción del problema"  maxlength="200">@Model.DescripcionProblema</textarea>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk Requerido" style="color: red;"></span></span>
                                </div>
                            </div>
                            
                            <td>
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" id="FechaRegistro" name="FechaRegistro" placeholder="Fecha del Registro" value="@string.Format("{0:dd-MM-yyyy}",Model.FechaRegistro)" required>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color: red;"></span></span>
                                    </div>
                                </div>
                            </td>
     
                            <div class="form-group">
                                <label>Anexar Documento o Imagen</label>
                                <div class="input-group">
                               <input type="text" value="@Model.imagepath" id="imagepath" />
                                   
                                </div>
                            </div>
                          <td>
                    <div class="form-group">
                        <label>Departamento que perteneces</label>
                        <div class="input-group">
                            @Html.DropDownList("DepartamentId", null, "SELECCIONE", new { @class = "form-control Requerido" })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color: red;"></span></span>
                        </div>
                    </div>
                </td>
                        </tr>
                        <div class="form-group">
                            <label>Prioridad</label>
                            <div class="input-group">
                                @Html.DropDownList("IdSeveridad", null, "SELECCIONE", new { @class = "form-control Requerido" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color: red;"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de Problema</label>
                            <div class="input-group">
                                @Html.DropDownList("IdProblem", null, "SELECCIONE", new { @class = "form-control Requerido" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color: red;"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo Solicitud</label>
                            <div class="input-group">
                                @Html.DropDownList("IdTipoSolicitud", null, "SELECCIONE", new { @class = "form-control Requerido" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" style="color: red;"></span></span>
                            </div>
                        </div>

                    </table>
                    
             <div class="row margen">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <input type="button" value="Guardar" onclick="Sumit()" class="btn btn-info pull-right">
            </div>
            <div class="col-md-5"></div>
        </div>
                </div>
            </form>
        </div>
    </div>
}
<script src="~/Scripts/jquery.js"></script>
<script>
    //Llamando los valores de los dropdown
    $("#DepartamentId").val(@Model.DepartamentId);
    $("#IdSeveridad").val(@Model.IdSeveridad);
    $("#IdProblem").val(@Model.IdProblem);
    $("#IdTipoSolicitud").val(@Model.IdTipoSolicitud)

    //funcion validar form
    function Sumit() {

        if (ValidarForm()) {
            $('form').submit();
        } else {

            alert("Formulario Incompleto Favor Verificar Los Campos Marcados!!");
        }


    }

    //Funcion que alerta los campos requeridos.
    function ValidarForm() {
        var result = true;
        $(".Requerido").each(function () {
            if (this.value == '') {
                result = false;
                $(this).attr("style", "border-color:#FF8000; height:33px");
            }
        });

        return result;
    }

</script>
